    <div class="modal fade" tabindex="-1" role="dialog" id="rule-popup">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="padding:20px; background: #400040; color:white">
          <div class="modal-header">
            <h5 class="modal-title">Trick or Treating, Open Source Style!
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="color:white">
            <p>
            What's an easy way to have fun, and celebrate an open source Halloween? Open source trick or treating, of course! The candy here is our trick or treat bag that we've discovered across the open source landscape. You can participate here too! How does it work?
          <ul>
                <li>Generate a candy for your repository with the <a target="_blank" href="https://vsoch.github.io/candy-generator">candy-generator</a></li>
                <li>Take a screenshot of your candy, tight around the edges</li>
                <li>Save it somewhere in your repository named "open-source-halloween-2021.png"</li>
              </ul>

            And that's it! The interface here runs a nightly job to search for these files, meaning that if GitHub has indexed it, it should show up. If you run into any issues with the generator please <a target="_blank" href="https://vsoch.github.io/candy-generator/issues">open an issue</a>, or even better, a pull request with your suggested changes.
            </p>
        </div>
        </div>
      </div>
    </div>

