    <div class="modal fade" tabindex="-1" role="dialog" id="detail-modal">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="padding:20px; background: #400040; color:white">
          <div class="modal-header">
            <h5 class="modal-title" id="detail-modal-title">Trick or Treating, Open Source Style!
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="color:white">
            <div class="row">
              <div class="col-md-9" id="detail-modal-body"></div>
              <div class="col-md-3" id="detail-modal-image"></div>
            </div>
            <div class="row" style="padding-top:20px">
              <div class="col-md-12" id="detail-modal-topics"></div>
            </div>
        </div>
        </div>
      </div>
    </div>

