   <div class="container-fluid" style="padding:50px; padding-top:200px">
    <div class="footer" style="color:white">
      <p>
        <small style="padding-right:100px">
          &copy; 2021 <a href="https://github.com/vsoch">@vsoch</a> 🦇️🍬️🍂️
        </small>
        <small>This candy bag is generated automatically - if you see an issue or bad piece of candy, please <a href="https://github.com/rseng/candy-generator/issues">report it</a>.</small>
        <span style="float:right"><small>Source code: <a
          href="https://github.com/rseng/open-source-halloween/">open-source-halloween</a>
        </small></span>
      </p>
    </div>
</div>
